<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @pokemon.numero %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pokemon.description %>
</p>

<p>
  <strong>Evolution level:</strong>
  <%= @pokemon.evolution_level %>
</p>

<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>
