<p id="notice"><%= notice %></p>

<h1>Map Objects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Transparent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @map_objects.each do |map_object| %>
      <tr>
        <td><%= map_object.name %></td>
        <td><%= map_object.image %></td>
        <td><%= map_object.transparent %></td>
        <td><%= link_to 'Show', map_object %></td>
        <td><%= link_to 'Edit', edit_map_object_path(map_object) %></td>
        <td><%= link_to 'Destroy', map_object, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Map Object', new_map_object_path %>
